// Grayscale
$WHITE: #ffffff;
$BLACK: #000000;
$GRAY6: #666666;
$GRAYD: #dddddd;
$GRAYE: #eeeeee;

// Chromatic
$SKY_BLUE: #cae9ff;
$DEEP_BLUE: #007be9;
$FRENCH_BLUE: #369efc;
$GRAY_NAVY: #1e2025;
$FAUX_CHARCOAL: #2d3d50;
$ALUMINIUM_GRAY: #a7afb7;
$SHADOW_COLOR: rgba(30, 32, 37, 10%);
