@use '/src/styles/constants/colors';
@use '/src/styles/mixins/visual';
@use '/src/styles/mixins/responsive';

section {
  width: 100%;
  background-color: colors.$FRENCH_BLUE;

  .decorationWrapper {
    position: relative;
    max-width: 660px;
    height: 130px;
    padding: 24px 0 16px;
    margin: 20px auto 0;
    overflow: hidden;

    h2 {
      margin-bottom: 16px;
      font-size: 18px;
      font-weight: 700;
      line-height: 1.6;
      color: colors.$WHITE;
      letter-spacing: -0.018em;

      em {
        color: colors.$WHITE;
      }
    }

    button {
      padding: 10px 24px;
      font-size: 16px;
      line-height: 1.6;
      color: colors.$FRENCH_BLUE;
      letter-spacing: -0.018em;
      background-color: colors.$WHITE;
      border-radius: 24px;
    }

    .decorationSVG {
      position: absolute;
      right: 0;
      bottom: -8px;
      width: 142px;
      height: 115px;
    }
  }
}

@include responsive.before($media: 1039px) {
  section {
    background-color: colors.$SKY_BLUE;

    .decorationWrapper {
      top: -10px;
      max-width: 460px;
      height: 120px;
      padding: 12px 16px;
      background-color: colors.$WHITE;
      border-radius: 16px;
      box-shadow: 0 2px 2px colors.$SHADOW_COLOR;

      h2 {
        margin-bottom: 16px;
        font-size: 14px;
        font-weight: 400;
        color: colors.$BLACK;

        em {
          color: colors.$DEEP_BLUE;
        }
      }

      button {
        padding: 6px 16px;
        font-size: 14px;
        color: colors.$WHITE;
        background-color: colors.$DEEP_BLUE;
      }

      .decorationSVG {
        right: 5px;
        bottom: 8px;
        width: 105px;
        height: 101px;
      }
    }
  }
}

.forMobileScreen {
  @include visual.desktopHidden;
}

.forPcScreen {
  @include visual.mobileHidden;
}
