@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.selected {
  & button:focus {
    padding: 0 10px;
    background-color: colors.$GRAYE;
    border-radius: 10px;
  }
}

// .listContainer {
//   top: 100%;
//   left: 0;
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   padding: 24px 24px 16px;
//   margin-top: 8px;
//   background-color: colors.$WHITE;
//   border-radius: 20px;

//   h2 {
//     font-size: 13px;
//     font-weight: 800;
//     line-height: 1.6;
//     letter-spacing: -0.018em;
//   }

//   ul {
//     margin-top: 10px;

//     li {
//       display: flex;
//       gap: 10px;
//       align-items: center;

//       button {
//         overflow: hidden;
//         line-height: 30px;
//         text-overflow: ellipsis;
//         white-space: nowrap;
//       }
//     }
//   }
// }
