@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';

.selected {
  button mark {
    font-weight: 700;
    background-color: transparent;
  }

  &:focus-within {
    padding: 0 10px;
    background-color: colors.$GRAYE;
    border-radius: 10px;
  }
}
